/* Reset básico y estilos del cuerpo del documento */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif; /* 'normal' no es necesario, y se utiliza 'sans-serif' como respaldo */
  background-color: rgb(2, 35, 77);
  color: #fffbfc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Fuente personalizada */
@font-face {
  font-family: "Quicksand";
  src: url("font/Quicksand-Regular.otf") format("opentype"),
    url("font/Quicksand-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Estilos para el header */
header {
  color: #fffbfc;
  padding: 10px 20px;
  text-align: center;
  background: linear-gradient(rgba(2, 35, 77, 0.5), rgb(2, 35, 77)),
    url("resources/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

@media (min-width: 576px) {
  header {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  header {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Estilos para las imágenes y la navegación dentro del header */
header a img {
  min-width: 150px;
  max-width: 150px;
  height: auto;
  display: block;
  margin: auto;
}

header a img:hover {
  animation: transform 1s ease;
}

header nav {
  text-align: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #fffbfc;
  transition: color 0.3s ease;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a:hover {
  color: #ff9900;
}

/* Estilos para el main y sus elementos internos */
main {
  flex: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
}

.intro,
.main-content,
.sidebar,
.contact-section,
.members {
  margin: 50px;
  align-items: center;
}

.intro,
.main-content {
  text-align: center;
  margin-right: 20px;
}

/* Estilos para títulos y párrafos */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fffbfc;
  animation: fadeInUp 1.5s ease-out;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fffbfc;
  margin-bottom: 50px;
  margin-top: 50px;
  animation: fadeInUp 1.5s ease-out;
}

p {
  font-size: 16px;
  line-height: 1.5;
  animation: fadeInUp 1.5s ease-out;
}

/* Estilos para botones */
button {
  padding: 10px 20px;
  background-color: rgb(245, 106, 106);
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for transform */
}

button:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

/* Estilos para interacción con imágenes */
img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.3);
}

/* Estilos para el footer */
footer {
  background-color: #465362;
  color: #1a0d22;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
  background: linear-gradient(rgba(2, 35, 77, 1), rgba(2, 35, 77, 0.5)),
    url("resources/background.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover; /* Igual que con el header, 'cover' es generalmente preferible */
}

.footer-box {
  background-color: rgba(128, 128, 128, 0); /* Gris semitransparente */
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px; /* Bordes redondeados si se desea */
}

/* Si tienes links dentro de tu footer-box y quieres asegurarte de que sean visibles */
.footer-box a.text-white {
  text-decoration: none; /* Remueve el subrayado */
}

.footer-box a.text-white:hover {
  font-size: 18px; /* Increase the font size on hover */
  transition: font-size 0.3s ease; /* Add a transition for smoother animation */
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .main-content {
    margin-right: 0;
  }
  .carousel-inner,
  .carousel-item img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }

  /* Media queries para responsividad */
  @media (max-width: 768px) {
    header {
      padding: 5px 10px; /* Menor padding en dispositivos móviles para el encabezado */
    }

    header a img {
      min-width: 100px; /* Tamaño más pequeño para el logo en dispositivos móviles */
      max-width: 100px;
    }

    .nav-menu {
      flex-direction: column; /* Apila los elementos de la navegación verticalmente */
      align-items: center;
    }

    .nav-menu li {
      margin: 5px 0; /* Aumenta el espacio entre elementos de navegación en dispositivos móviles */
    }

    .nav-menu li a {
      font-size: 0.8rem; /* Reduce el tamaño de la fuente de los enlaces en el menú */
    }

    .intro,
    .main-content,
    .sidebar,
    .contact-section,
    .members {
      margin: 20px; /* Menos margen en dispositivos móviles */
    }

    h1,
    h3 {
      font-size: 20px; /* Tamaño de fuente más pequeño para títulos en dispositivos móviles */
    }

    p {
      font-size: 14px; /* Tamaño de fuente más pequeño para párrafos en dispositivos móviles */
    }

    img {
      max-width: 100%; /* Asegura que las imágenes no sobrepasen su contenedor */
      height: auto; /* Mantiene la proporción de las imágenes al escalar */
    }

    .container {
      padding: 10px;
      flex-direction: column; /* Alinea elementos en columna en dispositivos móviles */
      gap: 20px; /* Reduce el espacio entre elementos */
    }

    /* Ajustes adicionales para el footer si es necesario */
    footer {
      padding: 5px 10px; /* Menor padding en el footer para dispositivos móviles */
    }
  }

  /* Puedes agregar más media queries para otros tamaños de pantalla si es necesario */
}

.card-body {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco semitransparente para legibilidad */
}

.btn_primary {
  transition: transform 0.3s ease; /* Add a transition for smoother animation */
}

.btn_primary:hover {
  transform: scale(1.1); /* Increase the size of the button on hover */
}

.hero-section {
  background: linear-gradient(
      to bottom,
      rgba(2, 35, 77, 1) 0%,
      rgba(2, 35, 77, 0.8) 10%,
      rgba(2, 35, 77, 0.6) 20%,
      rgba(2, 35, 77, 0.4) 40%,
      rgba(2, 35, 77, 0.2) 60%,
      rgba(2, 35, 77, 0.2) 80%,
      rgba(2, 35, 77, 0.4) 85%,
      rgba(2, 35, 77, 0.6) 90%,
      rgba(2, 35, 77, 0.8) 95%,
      rgba(2, 35, 77, 1) 100%
    ),
    url("resources/hero-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero-container {
  position: relative;
  padding: 100px 50px;
  background-color: rgba(
    2,
    35,
    77,
    0.5
  ); /* Un fondo oscuro para contrastar con el texto */
}

.hero-title {
  animation: fadeInUp 1.5s ease-out;
}

.hero-subtitle {
  animation: fadeInUp 2s ease-out;
}

.hero-btn {
  color: #fffbfc;
  animation: pulse 2s infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 10px 20px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

@keyframes pulse_logo {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.news-card .card {
  max-width: 350px; /* Ajusta esto según tu diseño específico */
  margin: auto; /* Centra las tarjetas horizontalmente si son más estrechas que su contenedor */
}

.news-card .card-img-top {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  height: 200px; /* Ajusta la altura de la imagen */
}

.news-card,
h5 {
  font-weight: bolder;
}

.news-section {
  background: linear-gradient(
      to bottom,
      rgba(2, 35, 77, 1) 0%,
      rgba(2, 35, 77, 0) 10%,
      /* Empieza el degradado más cerca del inicio */ rgba(2, 35, 77, 0) 90%,
      /* Termina el degradado más cerca del final */ rgba(2, 35, 77, 1) 100%
    ),
    url("resources/wallpaper_news.gif") no-repeat center center; /* Asegúrate de colocar la ruta correcta a tu imagen */
  background-size: cover; /* Esto hará que tu imagen de fondo cubra todo el espacio disponible */
  padding: 5rem 0;
}

/* Estilo de la pokédex */
.pokedex__header {
  background: rgba(2, 35, 77, 1);
  min-height: 200px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.pokedex__header-title {
  color: rgb(255, 255, 255);
  text-align: center;
  text: 20px;
}

.pokedex__header-search {
  margin: auto;
}

.pokedex__header-search form {
  border-color: blue;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.pokedex__header-search input {
  height: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.pokedex__header-search form button {
  width: 80px;
  height: 80px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.pokedex__header-aline {
  display: flex;
  width: 150px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid rgba(255, 0, 0, 0);
  border-left: 15px solid rgba(49, 173, 18, 0);
  border-bottom: 15px solid rgba(255, 251, 0, 0);
  border-right: 15px solid rgb(97, 221, 159);
  border-radius: 5px;
  cursor: pointer;
}

.order {
  margin: auto;
  padding: 5px;
  color: #fff;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid rgba(255, 0, 0, 0);
  border-left: 15px solid rgb(97, 221, 159);
  border-bottom: 15px solid rgba(255, 251, 0, 0);
  border-right: 15px solid rgba(255, 0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

/*Cartas de los pokemon*/

.pokedex__pokemon-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  animation: fadeInUp 1.5s ease-in;
}

.pokemon:hover {
  transform: scale(1.2) rotate(5deg);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: auto;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.pokemon .type {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 7px 0;
  padding: 5px 10px; /* Add padding to increase the size */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  background: rgba(182, 182, 182, 0.753);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pokemon-modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Fijo en la pantalla */
  z-index: 1; /* Encima de todo */
  left: 0;
  top: 0;
  width: 100%; /* Ancho total */
  height: 100%; /* Alto total */
  overflow: auto; /* Si el contenido es más grande que la pantalla, permite scroll */
  background-color: rgb(0, 0, 0); /* Fondo negro */
  background-color: rgba(0, 0, 0, 0.4); /* Negro con opacidad */
}
.pokemon-modal .pokemon-detalles {
  background: rgb(2, 35, 77);
  margin: 10% auto; /* Centrado verticalmente y horizontalmente */
  padding: 20px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 50%; /* Ancho del contenido del modal */
  text-align: center;
}
.close-modal {
  color: #aaa;
  float: right; /* A la derecha */
  font-size: 28px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f44336; /* o cualquier color que prefieras */
  color: white;
  border: none;
  border-radius: 5px;
}

.pokemon-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  animation-name: animatetop;
  animation-duration: 1s;
  align-items: center;
  z-index: 1000; /* Asegúrate de que está sobre otros contenidos */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 80%; /* o cualquier ancho que prefieras */
  max-width: 600px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.items__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.item-card {
  background-color: #5c5151;
  border-radius: 8px;
  padding: 10px;
  width: 200px; /* Ancho más grande */
  height: auto; /* Altura más baja */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card:hover {
  transform: scale(1.2) rotate(5deg);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.item-card .item-image {
  width: 150px; /* Aumentar según sea necesario */
  height: 150px; /* Aumentar según sea necesario */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.item-card .item-image img {
  width: 70px; /* Asegura que la imagen no sobrepase el contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-top: 30%; /* Ajustar según sea necesario para centrar la imagen verticalmente */
}

.item-info {
  text-align: center;
}

#map-container {
  position: relative;
  text-align: center;
}

#info-card {
  background: rgb(255, 253, 219); /* Fondo blanco para la tarjeta */
  color: black; /* Color de texto negro */
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  position: fixed; /* Centrado en la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Más grande */
  max-width: 600px; /* Límite máximo de ancho */
  min-height: 200px; /* Altura mínima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra para resaltar */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  display: none;
  z-index: 1050; /* Asegurarse de que está sobre el overlay */
  font-size: 1.2rem; /* Tamaño de texto aumentado */
  text-align: center;
}

#info-card h2 {
  margin-top: 0;
  color: #333;
  font-size: 2rem; /* Tamaño de título aumentado */
}

#info-card.show {
  display: block; /* Asegura que el bloque está visible */
  opacity: 1; /* Completa opacidad */
  visibility: visible; /* Hace el elemento visible */
}

/* Sobreescribe la animación para la imagen dentro del #map-container */
#map-container img {
  animation: none; /* Esto desactiva la animación */
  /* Otras propiedades para anular cualquier transformación o transición si es necesario */
  transform: none;
  transition: none;
  border-radius: 100px;
  box-shadow: #000;
}

.item-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.item-modal-content {
  background-color: #0a2246;
  margin: 15% auto;
  border: 1px solid #5a5757;
  padding-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 1s;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item-modal-content img {
  width: 70px;
  height: auto;
  padding-bottom: 20px;
}

.close {
  color: #a70303;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  scale: 1.2;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.item-card h3,
.item-card p {
  text-shadow: 3px 3px 4px rgba(42, 32, 136, 0.6); /* Sombra negra */
  color: #000000; /* Texto blanco para generalizar la visibilidad en colores de fondo variados */
}

.category-filter {
  margin: 20px;
  text-align: center;
}

#categorySelect {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.navbar-light .navbar-nav .nav-link {
  color: #e2c000; /* Un gris oscuro que debería ser visible sobre un fondo claro */
}

.navbar-light .navbar-brand {
  color: #e2c000; /* Asegúrate de que el logo o texto del brand también sea visible */
}

.navbar-light .navbar-toggler {
  border-color: #e2c000; /* Cambia el color del borde si es necesario */
  color: #e2c000;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFF00' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #000000; /* Un color ligeramente más oscuro para hover y focus */
}

.nav-link.active img {
  border: 2px solid #e2c000; /* Añade un borde azul */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 0 8px #b39800; /* Añade una sombra azul para más visibilidad */
}

.filter-container {
  margin: 20px;
  text-align: center;
}

#typeSelect {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea los contenidos internos espaciadamente */
  height: 100%; /* Asegura que el cuerpo de la tarjeta ocupe todo el espacio disponible en la tarjeta */
}

.card-img-top {
  width: 100%; /* Asegura que la imagen cubra el ancho completo del contenedor */
  height: 200px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene las proporciones de la imagen, recortando el exceso */
}
.card-img-top:hover {
  transform: scale(1);
}

.btn-primary {
  width: 40%; /* Reduce el ancho del botón */
  padding: 8px 12px; /* Ajusta el padding para hacer el botón más compacto */
  margin-top: auto; /* Mantiene el botón alineado al fondo */
  margin-left: auto; /* Centra el botón horizontalmente */
  margin-right: auto;
}

.news-card {
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Orienta los elementos de la tarjeta en una columna */
  height: 100%; /* Asegura que la tarjeta ocupe todo el espacio vertical disponible */
}

.news-card:hover {
  transform: scale(1.4);
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

.card-body {
  flex: 1; /* Hace que el cuerpo de la tarjeta crezca para ocupar todo el espacio que no usan los otros elementos */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia los elementos internos justificadamente */
}

#searchBar {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.041);
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

#itemModal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.item-modal-content {
  background-color: #201253;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.modal-body img {
  display: block;
  margin: 0 auto;
}

.selected {
  border-bottom: 3px solid #007bff;
}
